.table1 {
    background-color: white;
    text-align: left;
    width: 100%
  }
.table1 th, td{
border: solid 1px black;
padding: 12px;
} 

.table1 thead{
    background-color: rgba(47, 59, 88, 0.808);
    border-bottom: solid 5px #0F362D;
    color: white;
}

.table1 tr:nth-child(even){
    background-color: rgba(14, 26, 44, 0.178);
}

